.slide-one {background-image: url("../images/Fullscreen\ slider\ images/background image 1.jpg");}
.slide-two {background-image: url("../images/Fullscreen\ slider\ images/background image 2.jpg");}
.slide-three {background-image: url("../images/Fullscreen\ slider\ images/background image 3.jpg");}
.slide-four {background-image: url("../images/Fullscreen\ slider\ images/background image 4.jpg");}