form {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    gap: 1em;
  }

  #form {
    display: inline-flex;
    margin-left: 170px;
    margin-right: 10px;
  }

  #form p {
    justify-content: left;
    margin-right: 20px;
    height: 90px;
    width: auto;

  }

  form input {
    border: none;
    width: 600px;
    height: 50px;
    background-color: lightgray;
    border-radius: 7px;
  }

  form textarea {
    border: none;
    width: 600px;
    height: 50px;
    background-color: lightgray;
    border-radius: 7px;
  }

  input, textarea {
    font-family: Arial;
    font-size: 1em;
  }

  #first-name #last-name {
    width: 50%;
  }

  #message {
    height: 100px;
  }

  #submit {
    float: right;
  }