



  #form h3 {
    text-align: center;
  }

  #form h2 {
    text-align: center;
  }

  #form p {
    margin-left: 25%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
  }

  form input {
    border: none;
    width: 550px;
    height: 50px;
    background-color: lightgray;
    border-radius: 7px;
  }

  form textarea {
    border: none;
    width: 1120px;
    height: 100px;
    background-color: lightgray;
    border-radius: 7px;
  }

  input, textarea {
    font-family: Arial;
    font-size: 1em;
  }

  #submit {
    float: right;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: auto;
    gap: 1em;
  }

  #form {
    padding: 1%;
    margin-left: 170px;
  }

  ::-webkit-input-placeholder {
    padding-left: 15px;
    padding: 10px;
}