  // Project navigation
  #project-nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
  }

  .project-nav-boxes {
    box-sizing: border box;
  }

  .project-nav-img {
    border-radius: 0.5em;
    height: 300px;
    width: 600px;
    object-fit: cover;
  }

  // Sets the size of the h3 elements in the project nav
  ul h3 {
    size: 200px;
  }
