@media only screen and (max-width: 800px) {

    .sidebar {
        display: none;
    }
}

@media only screen and (min-width: 801px) {
    #mobile-menu {
        display: none;
    }

    #form {
        margin-left: 170px
    }

    .mainContent {
        margin-left: 180px;
    }

    .main {
        margin-left: 160px;
    }

    .slide h1 {
        margin-left: 130px;
    }

    header {
        margin-left: 77px;
    }

    footer {
        margin-left: 160px;
    }
}

@media only screen and (max-width: 587px) {
    #mobile-menu p {
        font-size: 10px;
    }
}