html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.coming-soon {
    margin: 200px;
    text-align: center;
    font-size: 8vw;
}

.main-content {
    margin-left: 180px;
    border: solid 5px #3a8278;
    font-size: 20px;
}

