html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.coming-soon {
    margin: 200px;
    text-align: center;
    font-size: 8vw;
}

.mainContent {
    margin-top: 20px;
    border-top: #3a8278 solid 15px;
    border-radius: 5%;
}
