.social-icons {
    word-spacing: 10px;
    text-decoration: none;
    width: 10%;
    height: 5%;
  }
  
  .social-icons a:hover {
    transform: scale(1.5); 
  }

  button {
    all: unset;
    background-color: #3a8278;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: solid 4px #306b63;
    margin: 1em;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  button:hover {
    background-color: #47a094;
    border-color: #3a8278;
  }