// Social icon buttons 
.social-icons {
    word-spacing: 10px;
    text-decoration: none;
    width: 10%;
    height: 5%;
  }
  
  // Social icons grow upon hover
  .social-icons a:hover {
    transform: scale(1.5); 
  }

  // Submit button basic styling for consistency
  #submit {
    position: fixed;
    all: unset;
    background-color: #3a8278;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: solid 4px #306b63;
    margin: 1em;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  // Submit button darken upon hover
  #submit:hover {
    background-color: #47a094;
    border-color: #3a8278;
  }

// The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 20%;
}

// Hide default HTML checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// The slider
.switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switcher:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switcher {
  background-color: black;
}

input:focus + .switcher {
  box-shadow: 0 0 1px black;
}

input:checked + .switcher:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// Rounded sliders
.switcher.round {
  border-radius: 34px;
}

.switcher.round:before {
  border-radius: 50%;
}