// Images for the fullscreen slider
.slide-one {background-image: url("https://indy113.github.io/homepage/images/Fullscreen%20slider%20images/computer%201.png");}
.slide-two {background-image: url("https://indy113.github.io/homepage/images/Fullscreen%20slider%20images/computer%202.jpg");}
.slide-three {background-image: url("https://indy113.github.io/homepage/images/Fullscreen%20slider%20images/computer%203.jpg");}
.slide-four {background-image: url("https://indy113.github.io/homepage/images/Fullscreen%20slider%20images/computer%204.jpg");}

.databaseExample {
    max-width: 50%;
    height: auto;
    border-left: solid 30px grey;
    border-radius: 10px;
}