.slide-one {background-image: url("../images/Fullscreen\ slider\ images/computer 1.png");}
.slide-two {background-image: url("../images/Fullscreen\ slider\ images/computer 2.jpg");}
.slide-three {background-image: url("../images/Fullscreen\ slider\ images/computer 3.jpg");}
.slide-four {background-image: url("../images/Fullscreen\ slider\ images/computer 4.jpg");}